<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
    <script src="https://unpkg.com/htmx.org@1.8.0"></script>
    <script src="https://unpkg.com/htmx.org@1.8.0/dist/ext/json-enc.js"></script>
    <title>250</title>
  </head>
  <body>
    <main class="container" hx-ext='json-enc' hx-boost="true">
      <h1>250 Score Tracker</h1>
      {{content}}
    </main>
  </body>
</html>
